/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
public/uploads/category/electronics-9599.webp
public/uploads/category/fashion-9920.png
public/uploads/category/furniture-3271.webp
public/uploads/products/preview/kylan-blair-5394.jpg
public/uploads/products/preview/kylan-blair-9691.jpg
public/uploads/products/thumbnail/kylan-blair-9260.jpg
public/uploads/subcategory/pantfashion-2964.jpg
public/uploads/users/3.jpg
public/uploads/users/4.jpg
public/uploads/users/6.jpg
public/uploads/products/preview/teagan-rodriquez-6526.jpg
public/uploads/products/preview/teagan-rodriquez-8128.jpg
public/uploads/products/thumbnail/teagan-rodriquez-1605.jpg
public/uploads/products/thumbnail/teagan-rodriquez-6442.jpg
public/uploads/products/thumbnail/teagan-rodriquez-9448.jpg
